
# ignore files
.git
.vscode

/.idea

files/backup/*
files/brands/*
files/categories/*
files/downloads/*
files/exports/*
files/imports/*
files/originals/*
files/resize/*
files/uploads/*
files/watermark/*

compiled/*
vendor/*

src/config/config.php

sftp-config.json
sftp-config-alt.json

BingSiteAuth.xml
yandex_d772c6c00f99a7af.html
yandex_5bfaff59528faf2a.html
zen_0g7OecYicPswxrVF48BnqB6XZC6GWQSrP0udTi6Q0SdR89mcCm7RyCFZMDCQRuSv.html
X1wluQW5iLfqlgBJXYv75nzmZN7PJltocnLonGLSZC4
ads.txt

favicon.svg
favicon.ico


robots.txt
