<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Оплата на карту Банка
	</name>
	<settings>
		<variable>bank_name</variable>
		<name>Название Банка</name>
	</settings>
	<settings>
		<variable>card_number</variable>
		<name>Номер карты</name>
	</settings>
	<settings>
		<variable>card_owner</variable>
		<name>Владелец карты</name>
	</settings>
	<settings>
		<variable>telegram_login</variable>
		<name>Логин Telegram</name>
	</settings>
	<settings>
		<variable>sms_text</variable>
		<name>Текст в SMS сообщениии</name>
	</settings>
</module>
