<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Telegram Bot
	</name>
	<settings>
		<variable>api_key</variable>
		<name>api key</name>
	</settings>
	<settings>
		<variable>bot_username</variable>
		<name>Имя бота (без @)</name>
	</settings>
	<settings>
		<variable>secret_token</variable>
		<name>Секрет</name>
	</settings>
	<settings>
		<variable>admins</variable>
		<name>Админ бота</name>
	</settings>
	<settings>
		<variable>database</variable>
		<name>База данных</name>
	</settings>
</module>
